@import url('public.css');

.error2{
    /* can't show */
    color: red;
}

.sidebar li{
    margin-left: 20px;
}


.category_selection{
    margin: 10px 0;
}

.btn{
    margin-top: 10px;
}


@media (max-width: 750px) {
    .sidebar{
        display: none;
    }
    
}