@import url(../css/reset.css);
@import url(../css/normalization.css);
*{
    box-sizing: border-box;
    font-family:  Arial, sans-serif,'Arial Narrow',;
    color: #495057;

}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
}


.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    background-color: #023047;
    color: #fefae0;
    z-index: 100;
}

.logo{
    bottom: 0;
    left: 0px;
    height: 40px;
}

.logo img{
    height: 40px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.navbar li{
    display: inline-block;
    margin-left: 10px;
}

.navbar > ul > li{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
.navbar a{
    color: #fefae0;
}

.navbar a:hover{
    color: #f9a03f;
}    

.sm-search{
    display: none;
}

.navbar button{
    color: #fefae0;
    background-color: #f9a03f;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

hr{
    margin: 5px 20px;
    border: 1px solid rgba(2, 47, 70, 0.5)
}

/* main structure */
main{
    flex:1;
    display: flex;
}

.post_container{
    flex: 2;
    margin: 20px;
    /* background-color: pink; */
}

/* sidebar */
.sidebar{
    flex: 1;
    /* background-color: blue; */
    height: 20vh;
    position: sticky;
    top: 40px;
    z-index: 90;

}

.sidebar section > p{
    font-size: 1.5rem;
    margin: 25px 20px;
}

.sidebar li {
    margin-top: 10px;
}



.sidebar .post:hover{
    color: #f9a03f;
}

.sidebar .categories{
    margin: 10px 20px;
}

.sidebar .category{
    width: 60px;
    margin-left: 5px;
}

.sidebar .category:hover{
    color: #fefae0;
    background-color: #f9a03f;
}

/* footer */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fefae0;
    background-color: #023047;
    height: 40px;
    z-index: 100;
}


.category{
    display: inline-block;
    text-align: center;
    width: 60px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    background-color: #d4dce3;
    border: none;
    margin-bottom: 10px;
}


.btn{
    color: #fefae0;
    background-color: #f9a03f;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
}


textarea{
    resize: none;
    width: 100%;
    border: 2px solid #b0bbc4;
    vertical-align: top;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .sm-search{
        display: flex;
        justify-content: center;

    }
    #lg-searchbar{
        display: none;
    }
}

.welcome{
    color: white;
}